## Homework 1: Introduction to Machine Learning for Machine Learning Zoomcamp 2025

### Q1. Pandas versions

What's the version of Pandas that you installed?

In [48]:
# !uv add pandas numpy scikit-learn matplotlib seaborn

import pandas as pd
import numpy as np

In [49]:
print(pd.__version__)

2.3.2

### Q2. Records count

How many records are in the dataset?

In [50]:
## Read data from URL https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
fuel = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

# fuel.head()

fuel.shape

(9704, 11)

### Q3. Fuel types

How many fuel types are presented in the dataset?

In [51]:
fuel["fuel_type"].unique()

array(['Gasoline', 'Diesel'], dtype=object)

### Q4. Missing values

How many columns in the dataset have missing values?

In [52]:
# fuel.info(verbose=True, show_counts=True)

fuel.columns[fuel.isna().any()]

Index(['num_cylinders', 'horsepower', 'acceleration', 'num_doors'], dtype='object')

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [53]:
# %%
fuel.fuel_efficiency_mpg[fuel.origin == "Asia"].max()

np.float64(23.759122836520497)

### Q6. Median value of horsepower

1. Find the median value of horsepower column in the dataset.
2. Next, calculate the most frequent value of the same horsepower column.
3. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
4. Now, calculate the median value of horsepower once again.

Has it changed?

In [54]:
# median
hp_median = fuel["horsepower"].median()
print(f'median: {hp_median}')

# most frequent value
hp_mode = fuel["horsepower"].mode()[0]
print(f'most frequent value: {hp_mode}')

# impute missing values with most frequent value
fuel["horsepower"] = fuel["horsepower"].fillna(value = hp_mode)

# median after imputation
hp_median_imputed = fuel["horsepower"].median()
print(f'median after imputation: {hp_median_imputed}')

median: 149.0
most frequent value: 152.0
median after imputation: 152.0

### Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns vehicle_weight and model_year
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it X.

In [55]:
X = fuel[fuel["origin"] == "Asia"][["vehicle_weight", "model_year"]].iloc[:7].to_numpy()

5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [56]:
XTX = X.T.dot(X)

6. Invert XTX

In [57]:
# inverse XTX
XTX_inv = np.linalg.inv(XTX)

7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [58]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
9. What's the sum of all the elements of the result?

In [59]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
w = XTX_inv.dot(X.T).dot(y)
np.sum(w)

np.float64(0.5187709081074006)